.choose_venue {
    /* clear: both; */
    padding-top: 20px;
    /* margin-top:  20px */
    /* display: block; */
}

.choose_venue input {
    display: inline
}

.choose_venue span {
    font-weight: bold;
    padding-right: 10px
}

.venue_choice {
    padding: 5px;
}

.space {
    margin-top: 20px;
}