.choose_venue {
    /* clear: both; */
    padding-top: 20px;
    /* margin-top:  20px */
    /* display: block; */
}

.choose_venue input {
    display: inline
}

.choose_venue span {
    font-weight: bold;
    padding-right: 10px
}

.venue_choice {
    padding: 5px;
}

.space {
    margin-top: 20px;
}

.card-header-yellow {
    background-color: rgb(255, 217, 0);
    /* color: white */
}

.contentHolder {
    padding: 20px;
}

.contentHolder span, .contentHolder p {
    text-align: center;
    width: 100%;
}

.clublogo {
    padding-bottom: 15px;
}

.clubname {
    vertical-align: middle;
}

.stickymore {
    text-align: center;
    width: 100%;
    background-color: rgb(219, 219, 219);
    padding: 10px;
}

.actionBtn {
    text-align: center;
    vertical-align: middle !important
}



.card img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
 
.clubinfo {
    text-align: center;
    padding: 10px;
    /* background-color: rgb(209, 209, 209) */
}

.clubdetail {
    padding: 0 10px 0 10px;
}

#clubInfo {
    background-color: rgb(230, 230, 230);
}